In [11]:
val foods = Seq(
    (1,"Chex Mix","Pcs",16),
    (6,"Cheez-It","Pcs",15),
    (2,"BN Biscuit","Pcs",15),
    (3,"Mighty Munch","Pcs",17),
    (4,"Pot Rice","Pcs",15),
    (5,"Jaffa Cakes","Pcs",18),
    (7,"Salt n Shake","Pcs",12)  
).toDF("ITEM_ID","ITEM_NAME","ITEM_UNIT","COMPANY_ID")
foods.show()
foods.createOrReplaceTempView("foods")

+-------+------------+---------+----------+
|ITEM_ID|   ITEM_NAME|ITEM_UNIT|COMPANY_ID|
+-------+------------+---------+----------+
|      1|    Chex Mix|      Pcs|        16|
|      6|    Cheez-It|      Pcs|        15|
|      2|  BN Biscuit|      Pcs|        15|
|      3|Mighty Munch|      Pcs|        17|
|      4|    Pot Rice|      Pcs|        15|
|      5| Jaffa Cakes|      Pcs|        18|
|      7|Salt n Shake|      Pcs|        12|
+-------+------------+---------+----------+

foods = [ITEM_ID: int, ITEM_NAME: string ... 2 more fields]

[ITEM_ID: int, ITEM_NAME: string ... 2 more fields]

In [12]:
val company = Seq(
    (18,"Order All","Boston"),       
(15,"Jack Hill Ltd","London"),       
(16,"Akas Foods","Delhi"),   
(17,"Foodies.","London"),    
(19,"sip-n-Bite.","New York")   
).toDF("COMPANY_ID","COMPANY_NAME","COMPANY_CITY")
company.show()
company.createOrReplaceTempView("company")

+----------+-------------+------------+
|COMPANY_ID| COMPANY_NAME|COMPANY_CITY|
+----------+-------------+------------+
|        18|    Order All|      Boston|
|        15|Jack Hill Ltd|      London|
|        16|   Akas Foods|       Delhi|
|        17|     Foodies.|      London|
|        19|  sip-n-Bite.|    New York|
+----------+-------------+------------+

company = [COMPANY_ID: int, COMPANY_NAME: string ... 1 more field]

[COMPANY_ID: int, COMPANY_NAME: string ... 1 more field]

# Cartesian (Cross) Joins

![title](https://www.w3resource.com/w3r_images/cross-join-round.png)

In [14]:
    spark.sql(
      """
        |SELECT foods.item_name,foods.item_unit,
        |company.company_name,company.company_city
        |FROM foods
        |CROSS JOIN company
        |""".stripMargin
    ).show()

+------------+---------+-------------+------------+
|   item_name|item_unit| company_name|company_city|
+------------+---------+-------------+------------+
|    Chex Mix|      Pcs|    Order All|      Boston|
|    Chex Mix|      Pcs|Jack Hill Ltd|      London|
|    Chex Mix|      Pcs|   Akas Foods|       Delhi|
|    Chex Mix|      Pcs|     Foodies.|      London|
|    Chex Mix|      Pcs|  sip-n-Bite.|    New York|
|    Cheez-It|      Pcs|    Order All|      Boston|
|    Cheez-It|      Pcs|Jack Hill Ltd|      London|
|    Cheez-It|      Pcs|   Akas Foods|       Delhi|
|    Cheez-It|      Pcs|     Foodies.|      London|
|    Cheez-It|      Pcs|  sip-n-Bite.|    New York|
|  BN Biscuit|      Pcs|    Order All|      Boston|
|  BN Biscuit|      Pcs|Jack Hill Ltd|      London|
|  BN Biscuit|      Pcs|   Akas Foods|       Delhi|
|  BN Biscuit|      Pcs|     Foodies.|      London|
|  BN Biscuit|      Pcs|  sip-n-Bite.|    New York|
|Mighty Munch|      Pcs|    Order All|      Boston|
|Mighty Munch|      Pcs|Jack Hill Ltd|      London|
|Mighty Munch|      Pcs|   Akas Foods|       Delhi|
|Mighty Munch|      Pcs|     Foodies.|      London|
|Mighty Munch|      Pcs|  sip-n-Bite.|    New York|
+------------+---------+-------------+------------+
only showing top 20 rows

# Inner join

![title](https://www.w3resource.com/w3r_images/sqlite-inner-join-pictorial-presentation.gif)

In [17]:
    spark.sql(
      """
        |SELECT foods.item_name,foods.item_unit,
        |company.company_name,company.company_city,foods.COMPANY_ID
        |FROM foods
        |INNER JOIN company
        |ON foods.COMPANY_ID = company.COMPANY_ID
        |""".stripMargin
    ).show

+------------+---------+-------------+------------+----------+
|   item_name|item_unit| company_name|company_city|COMPANY_ID|
+------------+---------+-------------+------------+----------+
|    Chex Mix|      Pcs|   Akas Foods|       Delhi|        16|
|    Cheez-It|      Pcs|Jack Hill Ltd|      London|        15|
|  BN Biscuit|      Pcs|Jack Hill Ltd|      London|        15|
|Mighty Munch|      Pcs|     Foodies.|      London|        17|
|    Pot Rice|      Pcs|Jack Hill Ltd|      London|        15|
| Jaffa Cakes|      Pcs|    Order All|      Boston|        18|
+------------+---------+-------------+------------+----------+

# Left Join

![title](http://www.sqltutorial.org/wp-content/uploads/2016/03/SQL-LEFT-JOIN.png)

In [20]:
    spark.sql(
      """
        |SELECT foods.item_name,foods.item_unit,
        |company.company_name,company.company_city,foods.COMPANY_ID
        |FROM foods
        |LEFT JOIN company
        |ON foods.COMPANY_ID = company.COMPANY_ID
        |""".stripMargin
    ).show

+------------+---------+-------------+------------+----------+
|   item_name|item_unit| company_name|company_city|COMPANY_ID|
+------------+---------+-------------+------------+----------+
|    Chex Mix|      Pcs|   Akas Foods|       Delhi|        16|
|    Cheez-It|      Pcs|Jack Hill Ltd|      London|        15|
|  BN Biscuit|      Pcs|Jack Hill Ltd|      London|        15|
|Mighty Munch|      Pcs|     Foodies.|      London|        17|
|    Pot Rice|      Pcs|Jack Hill Ltd|      London|        15|
| Jaffa Cakes|      Pcs|    Order All|      Boston|        18|
|Salt n Shake|      Pcs|         null|        null|        12|
+------------+---------+-------------+------------+----------+

# Right Join

![title](https://www.w3resource.com/w3r_images/mysql-right-join-set-image.png)

In [22]:
    spark.sql(
      """
        |SELECT foods.item_name,foods.item_unit,
        |company.company_name,company.company_city,company.COMPANY_ID
        |FROM foods
        |RIGHT JOIN company
        |ON foods.COMPANY_ID = company.COMPANY_ID
        |""".stripMargin
    ).show

+------------+---------+-------------+------------+----------+
|   item_name|item_unit| company_name|company_city|COMPANY_ID|
+------------+---------+-------------+------------+----------+
| Jaffa Cakes|      Pcs|    Order All|      Boston|        18|
|    Pot Rice|      Pcs|Jack Hill Ltd|      London|        15|
|  BN Biscuit|      Pcs|Jack Hill Ltd|      London|        15|
|    Cheez-It|      Pcs|Jack Hill Ltd|      London|        15|
|    Chex Mix|      Pcs|   Akas Foods|       Delhi|        16|
|Mighty Munch|      Pcs|     Foodies.|      London|        17|
|        null|     null|  sip-n-Bite.|    New York|        19|
+------------+---------+-------------+------------+----------+

# Full Outer Join

![title](http://www.sqltutorial.org/wp-content/uploads/2016/07/SQL-FULL-OUTER-JOIN.png)

In [23]:
    spark.sql(
      """
        |SELECT foods.item_name,foods.item_unit,
        |company.company_name,company.company_city,company.COMPANY_ID
        |FROM foods
        |FULL OUTER JOIN company
        |ON foods.COMPANY_ID = company.COMPANY_ID
        |""".stripMargin
    ).show

+------------+---------+-------------+------------+----------+
|   item_name|item_unit| company_name|company_city|COMPANY_ID|
+------------+---------+-------------+------------+----------+
|Salt n Shake|      Pcs|         null|        null|      null|
|    Chex Mix|      Pcs|   Akas Foods|       Delhi|        16|
|        null|     null|  sip-n-Bite.|    New York|        19|
|    Cheez-It|      Pcs|Jack Hill Ltd|      London|        15|
|  BN Biscuit|      Pcs|Jack Hill Ltd|      London|        15|
|    Pot Rice|      Pcs|Jack Hill Ltd|      London|        15|
|Mighty Munch|      Pcs|     Foodies.|      London|        17|
| Jaffa Cakes|      Pcs|    Order All|      Boston|        18|
+------------+---------+-------------+------------+----------+

# Natural Join

![title](https://www.w3resource.com/w3r_images/sqlite-natural-join.gif)

In [28]:
    spark.sql(
      """
        |SELECT *
        |FROM foods
        |NATURAL JOIN company
        |""".stripMargin
    ).show

+----------+-------+------------+---------+-------------+------------+
|COMPANY_ID|ITEM_ID|   ITEM_NAME|ITEM_UNIT| COMPANY_NAME|COMPANY_CITY|
+----------+-------+------------+---------+-------------+------------+
|        16|      1|    Chex Mix|      Pcs|   Akas Foods|       Delhi|
|        15|      6|    Cheez-It|      Pcs|Jack Hill Ltd|      London|
|        15|      2|  BN Biscuit|      Pcs|Jack Hill Ltd|      London|
|        17|      3|Mighty Munch|      Pcs|     Foodies.|      London|
|        15|      4|    Pot Rice|      Pcs|Jack Hill Ltd|      London|
|        18|      5| Jaffa Cakes|      Pcs|    Order All|      Boston|
+----------+-------+------------+---------+-------------+------------+

lastException: Throwable = null